@page "/unauthorized"
@layout EmptyLayout
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">401</h1>
        <p class="fs-3"> <span class="text-danger">Упс!</span>Не авторизованний користувач</p>
        <p class="lead">
            Щоб перейти на це посилання авторизуйтесь у свій аккаунт
        </p>
        <a href="/" class="btn btn-primary">Додому</a>
    </div>
</div>

@code {
    [Parameter]
    public string ErrMessage { get; set; }
}
