@using BlazorApp.Shared.Models.RequestModels.User
@using BlazorApp.Shared.Models.ResponseModel.Session
@using System.Text.Json
@using BlazorApp.Shared.Models.ResponseModel.User
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager Nv
<style>
    .brand-title {
        color: #3B3E85;
        font-family: Average Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 13.68px;
        text-transform: uppercase;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand d-lg-none brand-title" href="">ITExpert</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-none d-lg-block brand-title" href="">ITExpert</a>
    <div class="collapse navbar-collapse @NavBarCssClass justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link text-muted" href="">
                    Головна
                </NavLink>
            </li>
            
            <li class="nav-item">
                <NavLink class="nav-link text-muted" href="quizcatalog">
                    Курси
                </NavLink>
            </li>
            <li class="nav-item">
                @switch(_user == null)
                {
                    case false:
                        if (_user.Role == "Admin")
                        {
                            <a class="btn btn-light rounded-pill" title="Account" href="admin" style="display: inline-block"><span class="oi oi-person"></span></a>
                        }
                        else
                        {
                            <a class="btn btn-light rounded-pill" title="Account" href="userpage" style="display: inline-block"><span class="oi oi-person"></span></a>
                        }
                        break;
                    case true:
                        <div class="d-flex">
                            <a class="btn btn-light rounded-pill" href="" @onclick="mainLayout.OpenLogin" style="margin-right: 8px; background-color:white">Логін</a>
                            <a class="btn btn-warning rounded-pill" href="register">Реєстрація</a>
                        </div>
                        break;
                    default:
                        break;
                }
                
            </li>
        </ul>
    </div>
</nav>

@code 
{
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }
    #nullable enable
    public UserRoleResponseModel? _user { get; set; } = new UserRoleResponseModel();

    private async void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

    }
    protected override async Task OnParametersSetAsync()
    {
        _user = await mainLayout.GetUser();
    }
}
