@page "/userinfo/{Id:int}"
@using BlazorApp.Shared.Models.ResponseModel.Session
@inject HttpClient Http
@inject NavigationManager Nv
@layout AdminLayout
<h2>Ім`я</h2>
<h3><strong>@_user.FirstName</strong></h3>

<h2>Прізвище</h2>
<h3><strong>@_user.LastName</strong></h3>

<h2>Пошта</h2>
<h3><strong>@_user.Email</strong></h3>

<h2>Роль</h2>
<h3><strong>@_user.Role</strong></h3>

<button type="button" class="btn btn-danger" @onclick="HardDeleteUser">Видалити користувача</button>

@if (_user.Role != "Admin")
{
    <button type="button" class="btn btn-info" @onclick="GiveAdmin">Зробити адміном</button>
}
else
{
    <button type="button" class="btn btn-light" @onclick="GiveUser">Зробити користувачем</button>
}

@code {
    [CascadingParameter]
    public AdminLayout Layout { get; set; }

    [Parameter]
    public int Id { get; set; }

    private UserRoleResponseModel _user = new UserRoleResponseModel();

    protected override async Task OnInitializedAsync()
    {
        if (!await Layout.IsUserAdmin())
        {
            Nv.NavigateTo("/accessdenied");
        }
        else
        {
            var resposne = await Http.GetAsync($"api/v1/admin-users/user/{Id}");
            var user = await resposne.Content.ReadFromJsonAsync<UserRoleResponseModel>();
            _user = user;
        }

    }

    public async Task HardDeleteUser()
    {
        await Http.DeleteAsync($"api/v1/admin-users/{Id}");
        Nv.NavigateTo("/users");
    }

    public async Task DisbanUser()
    {
        using var response = await Http.GetAsync($"api/v1/admin-users/{Id}");
        var user = await response.Content.ReadFromJsonAsync<UserRoleResponseModel>();
        _user = user;
    }

    public async Task GiveAdmin()
    {
        using var response = await Http.GetAsync($"api/v1/admin-users/setrole/{Id}-Admin");
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
            _user.Role = "Admin";
    }

    public async Task GiveUser()
    {
        using var response = await Http.GetAsync($"api/v1/admin-users/setrole/{Id}-User");
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
            _user.Role = "User";
    }
}
